.landing-page {
    flex: 1; /* Take up remaining space */
  }
  
  .landing-page h1 { /* Style for main heading */
    color: #121D6B;
    text-align: center;
  }
  
  .signup-buttons {
    display: flex;
    justify-content: space-around; /* Equally spaced buttons */
    margin-top: 40px;
  }
  
  .signup-buttons button { /* Different button styling */
    background-color: #98C48C;
    color: #04060D;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    width: 250px; /* Make buttons wider */
    text-align: left;
    font-size: 18px; /* Larger font */
  }
  
  .signup-buttons ul { /* For bullet points */
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px; /* Adjust as needed */
  }